@import "mixins.scss";
/* Crop button with image */
.add-contact {
  @include place-image('addcontact-icon.png');
  width: 50px;
  height: 50px;
  background-size: contain;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:20px;
  right:0;
}

.submit-button{
  width: 100px;
  height: 20px;
}

.contact-form {
  display: none;
}

.contact-details{
  border: 1px solid black;
}

.heading {
 text-align: center;
}

//.addcontact-holder{
//  float: left;
//}