@import "mixins.scss";
/* Crop button with image */
.add-contact {
  @include place-image('plus_icon.jpeg');
  width: 50px;
  height: 50px;
  background-size: contain;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top:20px;
  right:0;
}

 button.add-contact {
   margin-top: 25px;
   margin-right: 250px;
 }
.submit-button{
  width: 100px;
  height: 20px;
}

.heading {
 text-align: center;
  padding-top: 30px;
}

.addcontact-holder{
  background-color: cornflowerblue;
  height: 100px;
  color: white;

}

.cell1inside{
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}

.contact-list{
  position: absolute;
  width: 700px;
}

table.contacts_table{
  width: 100%;
  border: 1px solid skyblue;
  border-radius: 13px;
  border-spacing: 0;
}

table.contacts_table td {
  border-bottom: 1px solid skyblue;
  padding: 10px;
  height: 45px;
  border-left: none;
  border-right: none;
  border-top: none;
}
table.contacts_table tr:last-child > td {
  border-bottom: none;
}
table.contacts_table tr:first-child > td {
  border-top: none;
}

table.contacts_table tr:hover {
  background: lightgreen !important;
  cursor: pointer;
}

.contact-details{
  float: right;
  width: 600px;
}
