@import "variables.scss";

/*place-image is used to load an image in a component. Parameter is filename: name of the image file*/
@mixin place-image($filename) {
  background-image: url($image-base-path + $filename);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}